<!DOCTYPE html>
<%# NOT ADAPTED FOR MD,SM,XS SCREENS YET %>
<html>
<head>
  <title>Sayaahi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header" class="row col-xs-12">
	<div id="logo" class="pull-left"><%= image_tag "logo.png" %></div>
	<div id="usernav" class="pull-right">
		<%= render 'usernav' %>
	</div>
</div>

<div id="content" class="col-xs-12">
	<%= yield %>
</div>

</body>
</html>